export(ARPABETRhyme)
export(EyeRhyme)
export(GetPronunciations)
export(MatchMeter)
export(NumSyllables)
export(RhymesWith)
export(StressPattern)
export(Poem)
exportClass(Poem)
importFrom(utils, adist)
import(methods)
